*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background: rgb(63, 123, 236);
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px  repeat(5, 75px);
    background-color: #f6982d;
    padding: 15px;
    border-radius:30px ;
    box-shadow: 15px 10px 0px 5px #00000033; 
}

button{
cursor: pointer;
color: rgb(255, 255, 255);
margin: 5px;
padding: 0;
border-radius: 32px;
font-size: 1.5em;
border: none;
background:#000000 ;
    box-shadow:  5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}
button:active{
    background: rgb(255, 136, 0);
}
button:focus{
    outline: none;
}
.display{
    grid-column: 1 / -1;
    padding: 16px;
    background: rgb(51, 49, 49);
    border-radius: 32px;
    box-shadow: 4px 4px 0px 5px #00000033;
    margin: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: aliceblue;
    word-break: break-all;
    justify-content:space-between;
    text-align: right;
    box-shadow: 0px 0px 0px 10px #00000033;

}
.col-2{
    grid-column: span 2;
}
#valor-actual{
    font-size: 1.5em;
}
#valor-anterior{
    font-size: 2.0em;
}